<a href="https://colab.research.google.com/github/shivams289/Projects/blob/main/Indian_bonds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Here we will be comparing after tax return on bonds listed on NSE


1.   We reomve unwanted columns
2.   we clean the data from extra things
1.   We change the datatype of numerical columms to float
2.   We use datetime format for maturity dates, so that we can use this in our calculation

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import math
from datetime import datetime
import tqdm as tqdm

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Data/bonds.csv')

In [ ]:
df.columns

Index(['SYMBOL \n', 'SERIES \n', 'BOND TYPE \n', 'COUPON RATE \n',
       'FACE VALUE \n', 'LTP \n', '%CHNG \n', 'VOLUME \n(Shares)', 'VALUE ',
       ' \n', 'CREDIT RATING \n', 'MATURITY DATE \n'],
      dtype='object')

In [ ]:
df.drop(['%CHNG \n', ' \n' , 'VALUE ' ], axis = 1, inplace =True)
df.columns

Index(['SYMBOL \n', 'SERIES \n', 'BOND TYPE \n', 'COUPON RATE \n',
       'FACE VALUE \n', 'LTP \n', 'VOLUME \n(Shares)', 'CREDIT RATING \n',
       'MATURITY DATE \n'],
      dtype='object')

In [ ]:
df.columns = ['symbol', 'series', 'bond_type', 'coupon', 'face_value', 'ltp', 'volume', 'credit_rating', 'maturity_date' ]

In [ ]:
#Dropping commas so that we can change the datatype to float
df.replace(',','', regex=True, inplace=True)

In [ ]:
#Dropping '-' so that we can convert in datetime format
df.drop(df[df['maturity_date'] == '-'].index, inplace = True)

In [ ]:
df.drop(df[df['coupon'] == '-'].index, inplace = True)

In [12]:
df.drop(df[df['ltp']=='-'].index, inplace = True)

In [13]:
df[['face_value', 'volume', 'ltp', 'coupon']] = df[['face_value', 'volume', 'ltp', 'coupon']].astype(float)

In [14]:
df.drop(df[df['volume'] == 0].index, inplace =True)

In [15]:
df['maturity_date'] = pd.to_datetime(df['maturity_date'], infer_datetime_format = True)

In [17]:
set(df.bond_type)

{'Regular', 'Tax Free', 'Taxable'}

In [21]:
#We will assign Bond type num =0 for Tax free bonds so that it will be helpful when we aplly 
#taxes to calculate our real return
df['bond_type_num'] = df['bond_type'].apply(lambda x: 0 if x == "Tax Free" else 1)

In [25]:
df['Interest_perc'] = (df['coupon']*df['face_value'])/df['ltp']

In [27]:
df['After_tax_interest_perc'] =  df['Interest_perc']*(1 - df['bond_type_num']*0.03)

In [36]:
df[(df['After_tax_interest_perc']>=9) & (df['volume'] >= 100)]

        symbol series  ... Interest_perc  After_tax_interest_perc
0        IIHFL     N5  ...      9.716599                 9.425101
3   ECLFINANCE     NK  ...     11.008662                10.678402
6         IIFL     NF  ...      9.667674                 9.377644
7        IIHFL     N4  ...     10.079629                 9.777240
14        IIFL     N7  ...     10.047847                 9.746411
20        IIFL     NE  ...     10.060362                 9.758551
22  ECLFINANCE     NO  ...      9.969940                 9.670842
24     EHFLNCD     N6  ...     10.638298                10.319149
25  ECLFINANCE     NR  ...     10.134798                 9.830754
32  ECLFINANCE     NS  ...     10.192308                 9.886538
37  ECLFINANCE     NG  ...      9.429058                 9.146186
43        IIFL     N4  ...      9.577603                 9.290275
52        IIFL     N5  ...      9.616291                 9.327802
64  ECLFINANCE     NJ  ...     10.064034                 9.762113
71    ERFLNCDI     N5  ...      9.694323                 9.403493
75  DHANILOANS     N6  ...     10.396040                10.084158
76  DHANILOANS     NC  ...     10.364583                10.053646
80  IBUCCREDIT     NB  ...      9.598263                 9.310315
98  SREIBNPNCD     NX  ...     26.666667                25.866667

[19 rows x 12 columns]